.back-button {
  height: 4em;
  width: 4em;
  float: left;
  margin-left: 10rem;
  margin-top: 5rem;
  background-color: #fff111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
}

.back-button > img {
  height: 1.5em;
  width: 1.5em;
}
